/gen
/bin
.clover
work
.settings
tags
junit*
*.swp
*.tmp
build
/compile
.project

.classpath
WebRoot/plain.db
WebRoot/password
WebRoot/nearbytalk.sqlite
WebRoot/nearbytalk.sqlite-shm
WebRoot/nearbytalk.sqlite-wal
